.heigth_img {
    width: auto;
    height: 6rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1) brightness(0) invert(1);
}
.logo img{
    filter: grayscale(1) invert(1);
}
#Top_bar #logo img {
    max-height: 80px !important;
}
#Top_bar #logo img.logo-sticky {
    max-height: 40px !important;
}


.wrappper_logoF img {
    width: 12rem !important;
}


.fullwidthbanner-container .fullwidthabanner,
.fullwidthbanner-container {
    height: 100vh !important;
}
.tp-caption img {
    width: auto !important;
    /* height: 80vh !important; */
}
@media screen and (max-width: 768px) {
    .div#slide-1-layer-1 img{
        height: 100vh;
    }
    .circle_img {
        height: 100%;
    }
    #Top_bar #logo img {
        max-height: 45px !important;
    }
    .wrappper_logoF img {
        width: 3.5rem !important;
    }
    .wrappper_logoF  {
        text-align: left !important;
    }
    /* img#client {
        height: 5rem;
    } */
}